@model LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - E_Library</title>
    <link rel="stylesheet" href="~/assets/css/styles.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <link rel="icon" type="image/x-icon" href="~/smythelogo.png" />
</head>
<body>
    <div class="container-fluid">
        @if (TempData["Message"] != null && TempData["Flag"] != null)
        {
            <div class="alert @TempData["Flag"]" role="alert">
                @TempData["Message"].ToString()
            </div>
        }
        <div class="row justify-content-center">
            <div class="col-md-5">
                <center><img src="~/smythelogo.png" class="mt-4" alt="Logo" width="90" /></center>
                <div class="card mt-4">
                    <div class="card-header text-center">Smythe University College Electronic Library</div>
                    <div class="card-body">
                        <form method="post" asp-action="Login">
                            <div class="form-group mb-3">
                                <label asp-for="Username" class="form-label">Username</label>
                                <input asp-for="Username" class="form-control" required placeholder="Username / Email Address" /> 
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="Password" class="form-label">Password</label>
                                <input asp-for="Password" class="form-control" required placeholder="********" />
                            </div>
                            <div class="form-group mb-3">
                                <button class="btn btn-primary w-100">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-6 px-6 text-center">
            <p class="mb-0 fs-4">Design and Developed with ❤ by 2023-24 Information Technology Graduates</p>
        </div>
    </div>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/sidebarmenu.js"></script>
    <script src="~/assets/js/app.min.js"></script>
</body>
</html>
