@model Group
@{
    ViewData["Title"] = "Edit Group";
}
<div class="card">
    <div class="card-header">
        @ViewData["Title"]
    </div>
    <div class="card-header">

        <form asp-action="Edit" method="post">
            <div class="form-group mb-4">
                <label class="form-label">Name</label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group mb-4">
                <label class="form-label">Description</label>
                <input asp-for="Description" class="form-control" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Update</button>
                <a asp-action="Index" class="btn btn-light text-primary">Back To List</a>
            </div>
        </form>
    </div>
</div>