@model IEnumerable<Category>
@{
    ViewData["Title"] = "List of Categories";
    int count = 1;
}
<div class="card">
    <div class="card-header">@ViewData["Title"]</div>
    <div class="card-body">
        <a asp-action="Create" class="btn btn-primary mb-4">Create</a>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@count</td>
                            <td>@item.Name</td>
                            <td>
                                <a asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-warning">Edit</a>
                                <a asp-action="Edit" class="btn btn-danger" onclick="confirmDelete(event)">Delete</a>
                            </td>
                        </tr>
                        count++;
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
